.cmp-teaser {
   
  

}
.cmp-teaser__image {
    width: 200px;
    height: 200px;
}
.cmp-teaser__content {}
.cmp-teaser__pretitle {}
.cmp-teaser__title {

    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;  

}
.cmp-teaser__title-link {

    text-decoration: none;
    
}
.cmp-teaser__description {}
.cmp-teaser__action-container {}
.cmp-teaser__action-link {

    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    .cmp-teaser__title {
        color: $color-link-dark;
    }
}